<!doctype html>

<html>
<head>
	<style>
		h1{
			font-size: 20px;
		}

	</style>




</head>
<body>
	<h1>Available Coaches</h1>
	<p><a href="/">HOME</a></p>

	<h2>Soren Bjerg</h2>
	<p>Coach for: League of Legends<br/>
	Discord: SorenBjerg9999<br/>
	Additional Information: Please provide your In game name so I can analyse you.
	<br/>
	<h3>Danny Zonic</h3>
	<p>Coach for: Counter Strike Global Offensive<br/>
	Discord: Danny2748<br/>
	Additional Information: If you have any videos of you playing please send it so I can analyse.</p>
	<br/>
	<h4>Roman Paley</h4>
	<p>Coach for: Dota 2<br/>
	Discord: RomanP2345<br/>
	Additional Information: No information.


</body>
</html>
