<!doctype html>

<html>
<head>
	<style></style>
</head>
<body>
	<h1>How It Works</h1>
	<p><a href="/">HOME</a></p>
	<br/>
	<br/>
	<p>This website will allow you to be able to hire coaches if they are available.<br/>
	You can go to the Home page and click on the 'Hire a coach' link and this will take you to the web page.<br/>
	Once on the page you can check what coach is available and you will have to message them on discord where you talk about your improvement at the game from there.</p>

</html>

