<!doctype html>

<html>
<head>
	<style>
		.sign_up{
			width: 200px;
			text-align: center;
		}

	</style>
</head>
<body>
	<h1>Sign UP</h1>
	<p><a href="/">HOME</a></p>

	<div class="sign_up">
		<h2>Sign up</h2>
		<form>
		<input type="username" class="input-box" placeholder="Enter Username">
		<input type="main game" class="input-box" placeholder="Enter Main Game">
		<input type="password" class="input-box" placeholder="Enter Password">
		<button type="button" class="btn">Sign up</button>
		</form>
	</div>
</html>








